#app {
  font-family: 'Montserrat', 'Open Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0px;
}
.navbar-default { margin : 0 !important; }

nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #FFFFFF;
}

nav a p{
  font-weight: medium;
  color: #C3C3C3;
  font-size: 18px;
}

nav a.router-link-exact-active p{
  font-weight: bold; 
  color: #000000;
  font-size: 18px; 
  
}

.nav-home {
    margin-right: 5%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.container {
    background-color: #F6F6F6;
}

/* below is the css for dtt*/

html {
    height: 100%;
  }


.logo {
    height: auto;
    width: 10%;
    margin-right: 5%;
}

.body-container {
    margin: auto;
    max-width: 1170px;
    
}

.sorting {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.items-container {
    padding: 30px; 
}

.items {
    padding: 20px 0px;
}
.item {
    display: flex; 
    align-items: flex-start;
}

.item-details {
    display: flex; 
    align-items: flex-start;
}

.item-img {
    width: 100px;
    height: 100px; 
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-left: 0px; 
    margin-right: 10px;
    
}

.item-info {
    flex: 2;
    height: auto;  
}

.item-edits {
    display: flex;
    flex: 1;
    margin-left: auto;
    justify-content: end;
}


.item-info h5, p {
    margin: 5px;
    padding: auto;
    font-size: 15px;
}


.item-info-bbg {
    display: flex; 
}

.img-small {
    width: 15px;
    height: 15px;
    margin-right: 5px;
; 
}

.item-info-bbg-bed, .item-info-bbg-bath, .item-info-bbg-size {
    display: flex; 
    align-items: center;
    margin-right: 10px;
}
